# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Uu]serSettings/
[Bb]uild*/
[Ll]ogs/
[Mm]emoryCaptures/
SysInfo.txt

# IDE
.vs/
*.csproj
*.sln
*.user
*.pidb
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Crash / Cache
*.stackdump
